/* PracticesList.css */
.timeline-container {
  padding: 20px;
  margin-top: 20px;
}

.no-data-message {
  text-align: center;
  margin-top: 20px;
}

.flex-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  flex-direction: column;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 390px;
  width: 290px;
  margin-left: 4vw;
  margin-bottom: 7vh;
  border: none;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-5%);
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.2);
}

.image-of-items {
  width: 100%;
  height: 60%;
}

.expanded-content {
  position: absolute;
  height: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f0f0f0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.powerPoint-link,
.tirgulim-link {
  margin: 0 7px;
  border-radius: 10px;
}

.timeline-event {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.timeline-content {
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.timeline-date {
  text-align: right;
  font-weight: bold;
  color: #007bff;
  position: relative;
  top: -10px;
}

.timeline-dot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.timeline-circle {
  width: 14px;
  height: 14px;
  background: #007bff;
  border-radius: 50%;
  border: 2px solid #fff;
  z-index: 1;
}

.timeline-line {
  width: 2px;
  height: 100px;
  background: #007bff;
  position: absolute;
  top: 14px;
}
